/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}


/* Header */
header {
    background-color: #000;
}

.logo-casino {
    margin-right: 20%;
    height: 40px;
}

.customizeButton {
    width: 120px;
}

.customizeInput {
    width: 120px;
    background-color: #000;
}


input[type="text"]::placeholder {
    padding-left: 30px;
    background: url('./images/user-solid-24.png') no-repeat;
    background-position: 5px 50%;
}

input[type="password"]::placeholder {
    padding-left: 30px;
    background: url('./images/lock-open-alt-solid-24.png') no-repeat;
    background-position: 5px 50%;
}

.transparent-bg {
    background-color: transparent;
}

.bg-login {
    background-color: #d6901e;
}

.bg-login:hover {
    opacity: 80%;
  }

.bg-join {
    background-color: #ae0508;
}

.bg-join:hover {
    opacity: 80%;
  }
/* End of Header */


/* Main Nav Bar */
.navBar-bg {
    background-image: url('./images/navbar-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: black;

}

.navBar-bg a {
    color: black;
    font-weight: 700;
}

.navBar-bg a:hover {
    color: #faf9f6;
}

.navBar-bg a:first-child:hover img {
    opacity: 0.5;
}

/* End of Main NavBar */


/* Secondary NavBar */

.secondaryNavBar {
    background-color: #363636;
}

.secondaryNavBar a {
    color: white;
    font-weight: 700;
}

.secondaryNavBar a:hover {
    color: #f5a623;
}

.secondaryNavBar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondaryNavBar .searchBar {
    flex-grow: 1;
    max-width: 300px;
    height: 30px;
    background-color: #f5a623;
    border: 1px solid #f5a623;
    font-weight: 600;
    padding-right: 50px;
    margin-right: 10px;
}

input[type="text-game"]::placeholder {
    padding-left: 20px;
    color: white;
    background: url('./images/search-regular-24.png') no-repeat;
    background-position: right center;
}

.secondaryNavBar a:nth-child(1),
.secondaryNavBar a:nth-child(2) {
    margin-left: 60px !important;
}

.secondaryNavBar a:last-child {
    margin-left: 60px !important;
}

/* End of Secondary NavBar */


/* Main Content */
.main-bg {
    background-image: url('./images/main-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: black;
    padding-top: 1%;
    padding-bottom: 3rem;
}

/* side-content */

.sideCard {
    background-color: #0f0f0f;
}

.sideCard a {
    color: white;
    font-weight: 500;
    font-size: 1.rem;
}


.link-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 2px dotted #585756;
    padding-bottom: 1px;
}



.featured-logo {
    margin-left: 13.7rem;
}

.top-games-logo {
    margin-left: 12.9rem;
}

.video-slots-logo {
    margin-left: 12.4rem;
}

.classic-slots-logo {
    margin-left: 11.3rem;
}

.threeD-slots-logo {
    margin-left: 14rem;
}

.live-casino-logo {
    margin-left: 12.5rem;
}

.black-jack-logo {
    margin-left: 12.6rem;
}

.roulette-logo {
    margin-left: 13.8rem;
}

.table-games-logo {
    margin-left: 12rem;
}

.video-poker-logo {
    margin-left: 12.3rem;
}

.jackpot-logo {
    margin-left: 14.2rem;
}

.other-games-logo {
    margin-left: 11.7rem;
}

.fav-game-logo {
    margin-left: 10.4rem;
}

.blank-img-logo {
    margin-left: 13.3rem;
}

.promotions-img {
    max-height: 27rem;
    height: 90%;
}

/* End of side-content */




/* Games Card */
.card {
    max-width: 100%;
    height: 95%;
}

.card-img {
    max-width: 100%;
    height: 100%;
    border: 7px solid #f0af23
}

.card-ttle {
    font-size: .8rem;
    font-weight: 600;
    /* margin-right: 45px; */
    color: #f0af23;
    /* text-align: left; */
}

.card-rating {
    margin-left: 29px;
    /* text-align: right; */
}

.romeo-rating {
    margin-left: 1.925rem;
}

.silver-rating {
    margin-left: 4.6rem;
}

.asian-rating {
    margin-left: 3.32rem;
}

.silver1-rating {
    margin-left: 2.7rem;
}

.angel-rating {
    margin-left: .8rem;
}

/* End of Games Card */

/* End of Main Content */


/* Footer */

.footer-bg {
    background-color: #151414;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
}

.gold-font {
    color: #fdc858;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;

}

.content-left {
    text-align: left;
}

.footer-section {
    display: flex;
    border-bottom: 10px solid;
    position: relative;
    border-image: url('./images/border-style.png') 10 10 10 10;
    width: 98%;
    margin: 0 auto;
}


.services {
    width: 100%;
}

.service-name {
    font-size: 1.1rem;
    color: #f0af23;
    text-transform: uppercase;
    text-align: left;

}

.service-bar {
    height: 8px;
    background: #3f3f3f;
    border-radius: 3px;
}

.service-per {
    height: 8px;
    background: #ae0508;
    border-radius: 3px;
    position: relative;
    max-width: 20%;
}

.service-per-init {
    width: 0;
    animation: none;
}

.service-per-animate {
    animation: fillBars 2.5s 1;
    width: 100%;
}

@keyframes fillBars {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

.average-time {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    font-weight: 500;
    color: #aeaca7;
    text-transform: uppercase;
    align-items: center;
}

.left-text {
    margin-right: 1rem;
}

.bigger {
    font-size: 2rem;
    color: #ae0508;
}

.right-text {
    display: flex;
    align-items: center;
}


.withdrawal-bar {
    height: 8px;
    background: #3f3f3f;
    border-radius: 3px;
}

.withdrawal-per {
    height: 8px;
    background: #ae0508;
    border-radius: 3px;
    position: relative;
    max-width: 40%;
}

.withdrawal-per-init {
    width: 0;
    animation: none;
}

.withdrawal-per-animate {
    animation: fillBars2 2.5s 1;
    width: 100%;
}

@keyframes fillBars2 {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

.faq-arrow {
    margin-left: 11rem;
}

.deposit-arrow {
    margin-left: 4.2rem;
}

.withdraw-arrow {
    margin-left: 2.8rem;
}


.message-logo {
    max-height: 80%;
    max-width: 100%;
    height: 80%;

}

.message-text {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.click-here {
    font-size: 0.7rem;
    font-weight: 600;
    color: #aeaca7;
    text-decoration: underline;
    
}

.footer-texts {
    font-size: 0.9rem;
    font-weight: 500;
    color: #aeaca7;
    
}

.footer2-border {
    border-bottom: 1.5px solid #4b4a4a;
    position: relative;
    width: 98%;
    margin: 0 auto;
}

.about-us {
    border-right: 2px solid #585756;
    padding-right: 2rem;
    color: #aeaca7;
}

.about-us:hover {
   color: #f5a623;
  }

.responsible-gaming {
    border-right: 2px solid #585756;
    padding-right: 2rem;
    padding-left: 2rem;
    color: #aeaca7;
  
}

.responsible-gaming:hover {
    color: #f5a623;
}

.affiliates {
    padding-left: 2rem;
    color: #aeaca7;
}

.affiliates:hover {
    color: #f5a623;
}

.copyright {
    font-size: 0.9rem;
    font-weight: 500;
    color: #aeaca7;
    margin-left: auto;
}


.last-footer-section {
    display: flex;
    position: relative;
    width: 98%;
}


.footer-title {
    color: #aeaca7;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid #4b4a4a;
    margin-right: 3rem;
    text-transform: uppercase;

}

.footer-content-title {
    color: #ae0508;
    padding-top: .8rem;
    font-weight: 600;
    font-size: 0.9rem;
    
}

.footer-content {
    padding-top: 0.3rem;
    font-size: 0.6rem;
    font-weight: 500;
    color: #aeaca7;
    margin-right: 4.7rem;
}


